.summary.entry-summary {
    margin-left: 0 !important;
}

.product .images {
    display: none;
}

.product_title.entry-title {
    display: none;
}

div[itemprop='offers'] {
    display: none !important;
}

.product-border {
    display: none;
}

.buy-button {
    width: 100%;
    border: 1px solid white;
    background-color: #FEB25C;
    font-size: 20px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #48290F;
}
